@page
@model Tp2.Pages.Consigna_3Model
@{
    ViewData["Title"] = "Tp2";
    
}
<body id="c3">


     <div id="cuerpo"><h1>Consigna 3!</h1></div>


     <h6> Dando click en el boton podras saber la hora</h6>
    <button id="botonHora">Obtener Hora</button>


</body>